html,
body {
    height: 100%;
}

.is_mobile {
    display: none;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.wrapper {
    min-height: 100%;
    background: url(../images/bg_main.png) no-repeat center;
    background-size: cover;
    padding: 100px 30px 40px 30px;
    .logo {
        margin-bottom: 55px;
        text-align: center;
        a {
            display: block;
            font-size: 80px;
            line-height: 82px;
            color: #2FC7C9;
            font-weight: 900;
        }
    }
    .copy {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
        line-height: 16px;
        color: #8F9295;
        opacity: .5;
    }
}

.contents {
    display: flex;
    justify-content: center;
}

.thread-code {
    width: 600px;
    padding-top: 64px;
    input {
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 24px;
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        border-bottom: 2px solid #fff;
        text-align: left;
        font-weight: 300;
        &::placeholder {
            color: #fff;
        }
    }
    .wellcome {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        font-weight: 700;
    }
    .sub-text {
        display: inline-block;
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        opacity: 0.7;
    }
    button {
        width: 300px;
        padding: 15px 0;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        background-color: #2FC7C9;
        border-radius: 0 20px;
    }
}

.board-view {
    width: 600px;
    padding: 64px 73px 58px 73px;
    margin-left: 100px;
    background-color: #363940;
    h2 {
        margin-bottom: 40px;
        padding-bottom: 29px;
        font-size: 22px;
        line-height: 24px;
        color: #fff;
        border-bottom: 2px solid #fff;
    }
    .board-tit {
        display: inline-block;
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 17px;
        color: #FA6980;
    }
}

.scroll-section {
    max-height: 129px;
    padding-right: 16px;
}

.latest-connect {
    margin-bottom: 20px;
}

.board-list {
    li {
        position: relative;
        padding-right: 90px;
        .board-txt {
            span {
                display: inline-block;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                opacity: .5;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
                overflow: hidden;
                max-width: 100%;
                &:hover {
                    position: relative;
                    padding-right: 20px;
                    font-size: 13px;
                    opacity: 1;
                    button {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -5px;
                    }
                }
            }
            button {
                display: none;
                width: 10px;
                height: 10px;
                background: url(../images/icon_delete.png) no-repeat center;
            }
        }
        &+li {
            margin-top: 6px;
        }
        .time {
            position: absolute;
            right: 0;
            top: 0;
            padding-left: 26px;
            color: #A6ADB4;
            font-size: 13px;
            line-height: 20px;
            background: url("../images/icon_time.png") no-repeat left center;
        }
    }
    &+.latest-visit {
        margin-top: 20px;
    }
}

.footer {
    padding-top: 33px;
}

.advertising-section {
    max-width: 728px;
    height: 90px;
    margin: 0 auto;
    background-color: #151624;
    text-align: center;
    color: #fff;
}

.homeInfo {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    a {
        position: relative;
        display: block;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 32px;
        border-radius: 50px;
        background-color: #9698A9;
        color: #fff;
        @each $obj in alarm,
        ask,
        board {
            &.#{$obj} {
                background:url("../images/icon_#{$obj}.png") no-repeat center #9698A9;
            }
        }
        &+a {
            margin-left: 10px;
        }
        &:hover {
            background-color: #FA6980;
            span {
                display: block;
            }
        }
        span {
            display: none;
            position: absolute;
            left: 20px;
            top: -40px;
            width: 90px;
            padding: 10px 0;
            font-size: 12px;
            line-height: 14px;
            background-color: #FA6980;
            border-radius: 100px 100px 100px 0;
        }
    }
}

@media screen and (max-width:1020px) {
    .is_mobile {
        display: block;
    }
    .wrapper {
        padding: 40px 30px 30px;
    }
    .contents {
        flex-wrap: wrap;
    }
    .thread-code {
        width: 100%;
        padding-top: 0;
        button {
            width: 100%;
        }
        input {
            font-size: 20px;
            line-height: 22px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    .board-view {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
    .footer {
        padding-top: 30px;
    }
}

@media screen and (max-width:640px) {
    .is_mobile {
        display: block;
    }
    .wrapper {
        padding: 30px 16px 30px 16px;
        .logo {
            padding-top: 30px;
            margin-bottom: 30px;
            a {
                font-size: 36px;
                line-height: 38px;
            }
        }
    }
    .board-view {
        padding: 20px;
        h2 {
            margin-bottom: 20px;
            padding-bottom: 14px;
            font-size: 16px;
            line-height: 18px;
        }
    }
}