html,
body {
    height: 100%;
}

.is_mobile {
    display: none;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.mCSB_container {
    min-height: 100%;
}

.wrapper {
    min-height: 100vh;
    background: url(../images/bg_main.png) no-repeat center;
    background-size: cover;
    padding: 100px 30px 40px 30px;
    .logo {
        margin-bottom: 55px;
        text-align: center;
        a {
            display: block;
            font-size: 80px;
            line-height: 82px;
            color: #2FC7C9;
            font-weight: 900;
            img {
                width: 100%;
                max-width: 647px;
            }
        }
    }
    .sub-logo {
        display: block;
        width: 100%;
        margin-bottom: 33px;
        text-align: left;
        img {
            max-width: 295px;
            width: 100%;
        }
    }
    .copy {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
        line-height: 16px;
        color: #8F9295;
        opacity: .5;
    }
}

.contents {
    display: flex;
    justify-content: center;
    max-width: 1180px;
    margin: 0 auto;
    &.sub {
        flex-direction: column;
    }
}

.thread-code {
    width: 600px;
    padding-top: 64px;
    input {
        width: 100%;
        margin-bottom: 40px;
        padding-bottom: 24px;
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        border-bottom: 2px solid #fff;
        text-align: left;
        font-weight: 300;
        &::placeholder {
            color: #fff;
        }
    }
    .wellcome {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        font-weight: 700;
    }
    .sub-text {
        display: inline-block;
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        opacity: 0.7;
    }
    button {
        width: 300px;
        padding: 15px 0;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        background-color: #2FC7C9;
        border-radius: 0 20px;
    }
}

.board-view {
    width: 600px;
    padding: 64px 73px 58px 73px;
    margin-left: 100px;
    background-color: #363940;
    h2 {
        margin-bottom: 40px;
        padding-bottom: 29px;
        font-size: 22px;
        line-height: 24px;
        color: #fff;
        border-bottom: 2px solid #fff;
    }
    .board-tit {
        display: inline-block;
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 17px;
        color: #FA6980;
    }
}

.scroll-section {
    max-height: 129px;
    padding-right: 16px;
}

.latest-connect {
    margin-bottom: 20px;
}

.board-list {
    li {
        position: relative;
        padding-right: 90px;
        .board-txt {
            span {
                display: inline-block;
                font-size: 12px;
                line-height: 20px;
                color: #fff;
                opacity: .5;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
                overflow: hidden;
                max-width: 100%;
                &:hover {
                    position: relative;
                    padding-right: 20px;
                    font-size: 13px;
                    opacity: 1;
                    button {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -5px;
                    }
                }
            }
            button {
                display: none;
                width: 10px;
                height: 10px;
                background: url(../images/icon_delete.png) no-repeat center;
            }
        }
        &+li {
            margin-top: 6px;
        }
        .time {
            position: absolute;
            right: 0;
            top: 0;
            padding-left: 26px;
            color: #A6ADB4;
            font-size: 13px;
            line-height: 20px;
            background: url("../images/icon_time.png") no-repeat left center;
        }
    }
    &+.latest-visit {
        margin-top: 20px;
    }
}

.footer {
    padding-top: 33px;
}

.advertising-section {
    max-width: 728px;
    height: 90px;
    margin: 0 auto;
    background-color: #151624;
    text-align: center;
    color: #fff;
}

.homeInfo {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    a {
        position: relative;
        display: block;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 32px;
        border-radius: 50px;
        background-color: #9698A9;
        color: #fff;
        @each $obj in alarm,
        ask,
        board {
            &.#{$obj} {
                background:url("../images/icon_#{$obj}.png") no-repeat center #9698A9;
            }
        }
        &+a {
            margin-left: 10px;
        }
        &:hover {
            background-color: #FA6980;
            span {
                display: block;
            }
        }
        span {
            display: none;
            position: absolute;
            left: 20px;
            top: -40px;
            width: 90px;
            padding: 10px 0;
            font-size: 12px;
            line-height: 14px;
            background-color: #FA6980;
            border-radius: 100px 100px 100px 0;
        }
    }
}

.board-section {
    position: relative;
    width: 100%;
}

.advertising {
    position: absolute;
    top: 100px;
    width: 200px;
    height: 600px;
    background-color: #2FC7C9;
    &.left-section {
        left: -250px;
    }
    &.right-section {
        right: -250px;
    }
}

.paging-wrap {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    a {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 13px;
        line-height: 35px;
        text-align: center;
        border-radius: 4px;
        background-color: #1D1F23;
        color: rgba(255, 255, 255, .5);
        &+a {
            margin-left: 8px;
        }
        &.active {
            background-color: #2FC7C9;
            color: #fff;
        }
    }
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 16px;
    .btn {
        width: 62px;
        padding: 5px 0;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        border-radius: 50px;
        border: 1px solid #2FC7C9;
        color: #2FC7C9;
        &.active {
            color: #fff;
            background-color: #2FC7C9;
        }
        &.btn {
            margin-left: 4px;
        }
    }
}

.board-wrap {
    background-color: #363940;
    .info {
        display: flex;
        padding: 12px 20px;
        border-bottom: 1px solid #8F929530;
        strong {
            font-size: 14px;
            line-height: 36px;
            color: #fff;
        }
        .write {
            width: 100%;
            max-width: 170px;
            padding: 8px 0;
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            background-color: #2FC7C9;
            text-align: center;
            margin-left: auto;
            border-radius: 0px 15px;
        }
    }
    .list {
        li {
            border-bottom: 1px solid #8F929530;
            a {
                display: block;
                width: 100%;
                padding: 20px;
            }
            .view {
                .top {
                    padding: 24px 20px;
                    border-bottom: 1px solid #8F929530;
                }
                .text {
                    padding: 16px 20px;
                    opacity: 1;
                }
            }
            .top {
                display: flex;
                margin-bottom: 10px;
                .tit {
                    display: block;
                    width: 100%;
                    margin-right: auto;
                    font-size: 14px;
                    line-height: 16px;
                    color: #fff;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                    overflow: hidden;
                }
                span {
                    flex: 0 0 auto;
                    font-size: 14px;
                    line-height: 16px;
                    color: #727479;
                    &+span {
                        position: relative;
                        margin-left: 10px;
                        padding-left: 10px;
                        &::after {
                            display: block;
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            width: 1px;
                            height: 16px;
                            margin-top: -8px;
                            background-color: #8F929530;
                        }
                    }
                    &.edit {
                        color: #1BECEF;
                    }
                }
            }
            .text {
                margin-bottom: 6px;
                font-size: 13px;
                line-height: 18px;
                color: #FFFFFF;
                opacity: .6;
                font-weight: 300;
            }
            .time {
                font-size: 12px;
                line-height: 14px;
                color: #FA6980;
            }
            &.re {
                padding: 16px 20px;
                background-color: #31343B;
                .btn-group {
                    padding: 0;
                }
                span {
                    line-height: 26px;
                }
                span.edit {
                    margin-left: auto;
                    color: #FA6980;
                    &::after {
                        display: none;
                    }
                }
                span.comment {
                    display: inline-block;
                    padding-left: 20px;
                    background: url(../images/icon_re.png) no-repeat center;
                }
                .comment-wrap {
                    margin-top: 20px;
                    padding-top: 20px;
                    border-top: 1px solid #8F929530;
                    span.comment {
                        padding-left: 30px;
                        background: url(../images/icon_re2.png) no-repeat center;
                    }
                }
                .btn-group {
                    .btn {
                        border-color: #FA6980;
                        color: #FA6980;
                        &.active {
                            color: #fff;
                            background-color: #FA6980;
                        }
                    }
                }
            }
        }
    }
}

.latest-wrap {
    padding: 20px;
    background-color: rgba(54, 57, 64, 1);
    margin-bottom: 36px;
    strong {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 14px;
        color: #FA6980;
    }
    .latest-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: - 26px;
        margin-top: -4px;
        a {
            display: block;
            flex: 0 0 auto;
            position: relative;
            padding-right: 20px;
            font-size: 12px;
            line-height: 14px;
            color: #727479;
            margin-left: 26px;
            margin-top: 4px;
            button {
                position: absolute;
                right: 0;
                top: 3px;
                width: 10px;
                height: 10px;
                background: url(../images/icon_delete.png) no-repeat center;
            }
        }
    }
}

.board-info {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
    strong {
        flex: 0 0 auto;
        margin-right: 20px;
        font-size: 24px;
        line-height: 26px;
        color: #fff;
        span {
            position: relative;
            display: inlnie-block;
            margin-left: 16px;
            padding-left: 16px;
            font-size: 24px;
            line-height: 26px;
            color: #fff;
            font-weight: 900;
            &::after {
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                width: 1px;
                height: 20px;
                margin-top: -10px;
                background-color: #fff;
                content: "";
            }
        }
    }
    p {
        display: flex;
        flex: 1 1 auto;
        max-width: 470px;
        padding-bottom: 10px;
        margin-left: auto;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        span {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            padding-right: 10px;
            font-size: 20px;
            line-height: 22px;
            flex: 0 0 auto;
            color: #fff;
            &::after {
                display: block;
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 1px;
                height: 16px;
                margin-top: -8px;
                background: rgba(255, 255, 255, .5);
            }
        }
        input {
            flex: 1 1 auto;
            color: #fff;
            text-align: left;
        }
    }
}

.write-list {
    display: flex;
    padding: 14px 20px;
    border-bottom: 1px solid #8F929530;
    align-items: center;
    dt {
        width: 86px;
        font-size: 14px;
        line-height: 36px;
        color: #fff;
        opacity: .8;
    }
    dd {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &.col2 {
        width: 50%;
        float: left;
    }
    .noti {
        position: relative;
        flex: 0 0 auto;
        padding-left: 20px;
        margin-left: 12px;
        font-size: 12px;
        line-height: 14px;
        color: #1BECEF;
        &::after {
            display: block;
            content: "!";
            position: absolute;
            left: 0;
            top: 2px;
            width: 12px;
            height: 12px;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            border: 1px solid #1BECEF;
            border-radius: 50px;
        }
    }
    input {
        width: 100%;
        max-width: 300px;
        height: 36px;
        padding: 0 20px;
        font-size: 14px;
        color: #fff;
        border: 1px solid #474950;
        border-radius: 5px;
        &::placeholder {
            color: #31343B;
        }
    }
}

@media screen and (max-width:1020px) {
    .is_mobile {
        display: block;
    }
    .wrapper {
        padding: 40px 30px 30px;
        .sub-logo {
            margin-bottom: 20px;
        }
    }
    .contents {
        flex-wrap: wrap;
    }
    .thread-code {
        width: 100%;
        padding-top: 0;
        button {
            width: 100%;
        }
        input {
            font-size: 20px;
            line-height: 22px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    .board-view {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
    .footer {
        padding-top: 30px;
    }
}

@media screen and (max-width:640px) {
    .is_mobile {
        display: block;
    }
    .wrapper {
        padding: 30px 16px 30px 16px;
        .logo {
            padding-top: 30px;
            margin-bottom: 30px;
            a {
                font-size: 36px;
                line-height: 38px;
            }
        }
    }
    .board-view {
        padding: 20px;
        h2 {
            margin-bottom: 20px;
            padding-bottom: 14px;
            font-size: 16px;
            line-height: 18px;
        }
    }
    .board-info {
        flex-wrap: wrap;
        margin-bottom: 16px;
        strong {
            font-size: 18px;
            line-height: 20px;
            span {
                font-size: 18px;
                line-height: 20px;
                margin-left: 8px;
                padding-left: 8px;
            }
        }
        p {
            width: 100%;
            max-width: 100%;
            margin-top: 10px;
            margin-left: 0;
            padding-bottom: 6px;
            span {
                font-size: 16px;
            }
        }
    }
    .paging-wrap {
        a {
            width: 20px;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
        }
    }
    .latest-wrap {
        padding: 16px;
        .latest-list {
            margin-left: -10px;
            a {
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }
    .board-wrap {
        .info {
            .write {
                max-width: 100px;
            }
        }
        .list {
            li {
                .top {
                    span {
                        font-size: 12px;
                        &+span {
                            margin-left: 4px;
                            padding-left: 4px;
                        }
                    }
                }
            }
        }
    }
}